* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 48px;
    padding: 0 20px 0 18px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
  
.header__right-contaier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  
.header__right-contaier__burger-menu {
    width: 19px;
    height: 19px;
    margin-top: 11px;
    margin-right: 36px;
}
  
.header__right-contaier__headline {
    margin-top: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
  
.header__left {
    height: 19px;
    margin-top: 11px;
}
  
.main {
    width: 100%;
    padding-top: 72px;
}
  
.main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 1400px;
    margin: 0 auto;
}
  
.main__tools-and-colors {
    width: 228px;
}
  
.main__tools {
    width: 100%;
    margin-bottom: 91px;
    padding-bottom: 23px;
    list-style-type: none;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
  
.main__tool {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 55px;
    padding: 12px 0 0 18px;
    cursor: pointer;
}
  
.main__tool:hover {
    background-color: gainsboro;
}
  
.main__tool:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
  
.main__tool__img {
    width: 24px;
    height: 24px;
    margin-right: 33px;
}
  
.main__tool__name {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.541327);
}
  
.main__colors {
    width: 100%;
    padding-bottom: 23px;
    list-style-type: none;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
  
.main__color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 55px;
    padding: 12px 0 0 18px;
    cursor: pointer;
}
  
.main__color:hover {
    background-color: gainsboro;
}
  
.main__color:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
  
.main__color__circle {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 33px;
    border: 1px solid black;
    border-radius: 100%;
}
  
.main__color__name {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.541327);
}
  
.main__canvas {
    margin-top: 40px;
    background-color: gray;
}
  
.main__examples {
    width: 228px;
    height: 246px;
    padding-bottom: 23px;
    list-style-type: none;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
  
.main__example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 55px;
    padding: 12px 0 0 18px;
    cursor: pointer;
}
  
.main__example:hover {
    background-color: gainsboro;
}
  
.main__example:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
  
.main__example__square {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 33px;
    border: 1px solid black;
}
  
.main__example__name {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.541327);
}
  
.current-color {
    background-color: #C4C4C4;
}
  
.prev-color {
    background-color: #41F795;
}
  
.red-color {
    background-color: #F74141;
}
  
.blue-color {
    background-color: #41B6F7;
}
  
.active {
    background-color: gainsboro;
}